#map-grid {
    padding: 0;
}

#map-panel {
    padding: 30px;
    right: 0;
    position: fixed;
    z-index: 1;
}

#map-panel__title {
    text-align: right;
    color: white;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 5px 12px;
    border-radius: 8px;
}

#map {
    height: 650px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #map {
        height: 500px;
    }

    #map-panel-title {
        display: none;
    }
}